* {
    font-family: 'Outfit', sans-serif;
    outline: none;
    box-sizing: border-box;
}

.container {
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.owl-hero-slider {
    position: relative;
}

.owl-hero-slider .owl-dots {
    position: absolute;
    bottom: 20px;
    z-index: 999;
    margin-left: 50%;
    transform: translateX(-50%);
}

.owl-hero-slider .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    background-color: white;
    margin: 5px;
    border-radius: 50%;
}
.owl-hero-slider .owl-dots .owl-dot.active {
    background-color: #8080D7;
}

.owl-hero-slider .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
}

.owl-hero-slider .owl-nav .owl-prev > span{
    font-size: 100px;
}

.owl-hero-slider .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 20px;
}

.owl-hero-slider .owl-nav .owl-next > span{
    font-size: 100px;
}

.owl-hero-slider .owl-nav .owl-next {
    position: absolute;
    right: 0;
}

.hp {
    width: 40px;
    height: 40px;
}

.owl-img .owl-stage {
    display: flex;
    align-items: center;
}

.img {
    object-fit: cover;
}


.sig {
    height: 430px;
    background-image: linear-gradient(to bottom right, #8080D7, #AAD9D9);
}

@media screen and (min-width: 300px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }   
}
@media screen and (min-width: 500px) {
    .container {
        padding-left: 7px;
        padding-right: 7px;
    }   
}